# Ignore everything generated under veri/sim
veri/sim/*
veri/work/*

# But keep the Makefile and this .gitignore
!veri/sim/Makefile
!veri/sim/.gitignore
!veri/sim/*.rc

# Local E203 SoC reference workspace
e203_soc/
